* {
    margin: 0px;
    font-family: 'Exo 2', sans-serif;

}

.all-page {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    /* margin: 40px 141px 0px 20px; */


}

.all-page>aside {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #808191;
    font-size: 14px;
    row-gap: 40px;
    margin-left: 20px;
    margin-top: 40px;
    /* background-color: rgb(154, 180, 180); */
}

i {
    margin-right: 20px;
    margin-left: 43px;
}

.all-page>aside>span:first-of-type {
    color: #000000;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 52px;
}

.all-page>aside>span::first-letter {
    color: #1D968D;
}

.all-page>aside>span:nth-child(2) {
    color: #B2B3BD;
}

.nav-1 {
    font-size: 14px;
    color: #808191;
}

.nav-2 {
    background-color: #1D968D;
    width: 216px;
    height: 56px;
    color: #FFFFFF;
    font-size: 14px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;

}

.nav-4>span {
    /* background-color: #000000; */
    font-size: 14px;
    font-weight: bold;
}

.nav-6 {
    margin-top: 392px;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.nav-6>nav>p {
    color: #11142D;
    font-size: 14px;
}

/* ///////////////////////////////// */


.all-page>.p-1 {
    display: flex;
    flex-direction: column;
    flex: 6;
}

.all-page>article>p:first-of-type {
    color: #11142D;
    font-size: 24px;
}

.all-page>article>p>span {
    color: #1D968D;
    font-size: 24px;
}

.all-page>article>p>span {
    color: #1D968D;
    font-size: 24px;
}

.p-1>.p-2 {
    display: flex;
    flex-direction: row;
    column-gap: 717px;
    margin-top: 40px;
    margin-left: 50px;

}

.p-1 {
    background-color: #FAFAFB;
    /* margin-right: 414px; */
}

.p-1>.p-2>article>p {
    color: black;
    font-weight: bold;
    font-size: 24px;
}


.p-1>.p-2>article>p>span {
    color: #1D968D;
    font-weight: bold;
    font-size: 24px;
}

.p-2>nav>input {
    width: 304px;
    height: 48px;
    border: none;
    border-radius: 15px;
}

.p-3 {
    margin-left: 50px;
    color: #171725;
    font-size: 24px;
    display: flex;
    flex-direction: column;

}

.p-3>nav>p {
    color: #171725;
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
}

.p-5 {
    display: flex;
    flex-direction: row;
    column-gap: 522px;
    margin-top: 10px;
}

.p-5>nav>span {
    color: #696974;
    font-size: 14px;
}

.p-5>nav>select {
    width: 200px;
    height: 38px;
    border: none;
}

.p-5>nav>button {
    background-color: #1D968D;
    width: 154px;
    height: 38px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 16px;
}

/* ///////////////////////////////////////// */
.contain {
    border: 1px solid #E2E2EA;
    width: 1217px;
    height: 369px;
    margin-top: 25px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    flex-wrap: wrap;
    /* margin-left: 20px; */
    padding-left: 20px;
    padding-top: 20px;
}

.section-1 {
    display: flex;
    flex-direction: row;
    column-gap: 110px;
    background-color: #d2dbdb;
    width: 267px;
    height: 140px;
    border-radius: 10px;
    /* padding-left: 20px; */
    /* margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px; */


}

.section-1>article {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    justify-content: center;
    align-items: center;

}

.section-1>nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1>article>span:first-child {
    color: #1D968D;
    font-size: 22px;
}

.section-1>article>span:last-child {
    color: #6F6F6F;
    font-size: 14px;
}

.section-1>article>p {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

/* /////////////////// */
.section-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #272727;
    font-size: 16px;
    font-weight: bold;
}